*{
    margin: 0;
}

body{
    align-items: center;
    text-align: center;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    min-height: 100vh;

}

header,
footer{
    height: 10vh;
    background-color: black;
}

main{

    display: flex;
    flex-wrap: wrap;
    flex: 1 0 25%;
    justify-content: space-around;
}

.f-white{
    color: white;
    font-family: 'Lobster', cursive;
}

h1{
    padding-top: 20px;
}

.list{
    margin: 30px 0;
    width: 40%;
    border: 1px solid black;
    border-radius: 50px;
    padding: 20px;
    background-color: rgba(255,255,255,0.5);
    font-family: 'Lobster', cursive;
}

article img{
    width: 200px;
}

.center{
    width: auto;
    margin: 20px 300px;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 50px;
    padding: 20px;
    background-color: rgba(255,255,255,0.5);
    font-family: 'Lobster', cursive;
}