{# j'insère un extends pour lier le fichier layout/héritage #}
{% extends 'base.html.twig' %}


{# j'insère un block pour la balise meta title puis je le ferme avec endblock #}
{% block metaTitle %}
    Article n°{{ article.id }}
{% endblock metaTitle %}


{# j'insère un block pour la balise main puis je le ferme avec endblock #}
{% block main %}
    <article class="center">
    <h1>{{ article.title }}</h1>
    <h1>Liste des recettes : "{{ article.content }}"</h1>
    {# <h1>id : {{ article.id }}</h1> #}
    </article>
{% endblock main %}


{# j'insère un block pour insérer du texte dans le footer puis je le ferme avec endblock #}
  {% block textFooter %}
      <h1>Footer de l'article</h1>
  {% endblock textFooter %}





